html {
    scroll-behavior: smooth;
}

body {
    color: white !important;
    position: relative;
    background-color: rgb(54, 54, 54) !important;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
    margin-bottom: 12px;
    width: 100%;
    background-color: #D53B47;
}

.headerImage {
    margin: 16px;
}

.inputField {
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
    margin-bottom: 12px;
}

.pokemonID {
    display: flex;
    justify-content: space-around;
    width: 101%;
    border-radius: 24px 24px 0px 0px;
    padding: 12px;
    margin: -1px;
}

.window-pokemonID {
    display: flex;
    justify-content: space-between;
    width: 101%;
    border-radius: 24px 24px 0px 0px;
    padding: 12px;
    margin: -1px;
}

.absolute {
    position: absolute;
}

.td-width {
    width: 20%;
}

.img-style {
    border-radius: 0px 0px 24px 24px !important;
    height: 150px !important;
    width: 150px !important;
}

.window-img-style {
    border-radius: 24px 24px 24px 24px !important;
    height: 300px !important;
}

.window-body {
    width: 100%;
}

.types {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.style-types {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    font-size: 12px !important;
    padding-left: 36px !important;
    padding-right: 36px !important;
}

.style-types-box {
    border-radius: 12px !important;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
}

.center {
    display: flex;
    justify-content: center;
}

.information {
    display: flex;
    justify-content: center;
}

.information-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 0 !important;
    font-size: 12px;
}

#height {
    font-size: 22px;
}

#weight {
    font-size: 22px;
}

.card-style {
    margin: 8px !important;
    border-radius: 24px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 12px 12px 20px 1px rgba(0, 0, 0, 0.8);
    transition: all 250ms ease;
    cursor: pointer;
}

.card-style:hover {
    transform: translate( 0rem, -0.5rem);
}

.normal {
    background-color: #BAB0D5 !important;
}

.fighting {
    background-color: #D6B591 !important;
}

.flying {
    background-color: rgb(0, 112, 177) !important;
}

.poison {
    background-color: #7C538C !important;
}

.ground {
    background-color: #B1736C !important;
}

.rock {
    background-color: #A6AAB6 !important;
}

.bug {
    background-color: #C3CE75 !important;
}

.ghost {
    background-color: #735797 !important;
}

.steel {
    background-color: rgb(189, 189, 189) !important;
}

.fire {
    background-color: #FB6C6C !important;
}

.water {
    background-color: #609FB5 !important;
}

.grass {
    background-color: #48D0B0 !important;
}

.electric {
    background-color: #FFD86F !important;
}

.psychic {
    background-color: #9B7FA6 !important;
}

.ice {
    background-color: rgb(111, 189, 202) !important;
}

.dragon {
    background-color: rgb(216, 162, 44) !important;
}

.dark {
    background-color: rgb(34, 34, 34) !important;
}

.fairy {
    background-color: #F469A9 !important;
}

.pokemonCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.modal-style {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden !important;
}

.modal-body {
    position: relative !important;
}

#modal-box {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 70% !important;
    height: 100% !important;
}

.pokemonIconModal {
    height: 40vh;
    opacity: 1;
    transition: all 1s ease-in-out;
}

.swiggle {
    animation: swiggle 500ms forwards ease-in-out 500ms;
}

@keyframes swiggle {
    0% {
        transform: translate(0, 0);
    }
    15% {
        transform: translate(1rem, 0);
    }
    35% {
        transform: translate(-1rem, 0);
    }
    55% {
        transform: translate(1rem, 0);
    }
    80% {
        transform: translate(-1rem, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

#info-body {
    font-size: 24px;
}

.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(255, 255, 255, 0.466);
}

.black {
    height: 12px !important;
    background-color: transparent!important;
    color: white !important;
}

.progress {
    margin-top: 12px;
    margin-bottom: 12px;
}

#info-box {
    position: absolute !important;
    bottom: 0px;
    right: 20px;
    width: 400px !important;
    height: 100% !important;
    background-color: rgba(141, 72, 23, 0.2);
}

#info-header {
    display: flex;
    justify-content: center;
    width: 100%;
}

.bg-selfblack {
    background-color: rgb(54, 54, 54) !important;
}

.window {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

#secondIcon {
    height: 100px;
    margin-bottom: 12px;
}

@media(max-width: 1200px) {
    .card-style {
        min-width: 14rem !important;
    }
}