body {
    margin: 1rem;
    color: white !important;
}

.pokemonID {
    display: flex;
    justify-content: space-around;
    width: 101%;
    border-radius: 24px 24px 0px 0px;
    padding: 12px;
    margin: -1px;
}

.img-style {
    border-radius: 0px 0px 24px 24px !important;
    height: 150px !important;
    width: 101% !important;
}

.types {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.style-types {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    font-size: 12px !important;
    padding-left: 36px !important;
    padding-right: 36px !important;
}

.style-types-box {
    border-radius: 12px !important;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
}

.center {
    display: flex;
    justify-content: center;
}

.information {
    display: flex;
    justify-content: center;
}

.information-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 0 !important;
}

.card-body-style {
    padding: 0 !important;
    display: none;
}

.card-style {
    margin: 12px !important;
    border-radius: 24px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 12px 12px 20px 1px rgba(0, 0, 0, 0.8);
    transition: all 250ms ease;
    cursor: pointer;
}

.card-style:hover {
    transform: translate( 0rem, -1rem);
}

.normal {
    background-color: #BAB0D5 !important;
}

.fighting {
    background-color: #D6B591 !important;
}

.flying {
    background-color: rgb(0, 112, 177) !important;
}

.poison {
    background-color: #7C538C !important;
}

.ground {
    background-color: #B1736C !important;
}

.rock {
    background-color: #A6AAB6 !important;
}

.bug {
    background-color: #C3CE75 !important;
}

.ghost {
    background-color: #735797 !important;
}

.steel {
    background-color: rgb(189, 189, 189) !important;
}

.fire {
    background-color: #FB6C6C !important;
}

.water {
    background-color: #609FB5 !important;
}

.grass {
    background-color: #48D0B0 !important;
}

.electric {
    background-color: #FFD86F !important;
}

.psychic {
    background-color: #9B7FA6 !important;
}

.ice {
    background-color: rgb(111, 189, 202) !important;
}

.dragon {
    background-color: rgb(216, 162, 44) !important;
}

.dark {
    background-color: rgb(34, 34, 34) !important;
}

.fairy {
    background-color: #F469A9 !important;
}

#pokemonID {
    position: absolute;
    top: 15px;
    right: 40px;
    font-weight: bold;
}

#pokemonCards {
    display: flex;
    flex-wrap: wrap;
}

.modal-style {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden !important;
}

.modal-body {
    position: relative !important;
}

#pokemonIconModal {
    position: absolute;
    bottom: 0;
    left: 400px;
    z-index: 10;
    height: 50vh;
    transition: all 1s ease-in-out;
}

#pokemonIconModal:hover {
    height: 80vh;
}

#modal-box {
    position: absolute;
    top: 0;
    font-size: 100px;
    font-weight: bold;
}

.black {
    height: 12px !important;
    background-color: transparent!important;
    color: white !important;
}

.progress {
    margin-top: 12px;
    margin-bottom: 12px;
}

#info-box {
    position: absolute !important;
    bottom: 0px;
    right: 20px;
    width: 400px !important;
    height: 100% !important;
    background-color: rgba(141, 72, 23, 0.2);
}

#info-header {
    display: flex;
    justify-content: center;
    width: 100%;
}

.background {
    background-color: rgb(54, 54, 54) !important;
}